#skills {
    padding: 30px 50px;
}

#skills h2 {
    color: #64FFDA;
    margin-bottom: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #112240;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
}

.skill-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.skill-card:hover {
    transform: scale(1.05);
    background: #1D3557;
}
