#softskills {
    padding: 30px 50px;
}

#softskills h2 {
    color: #64FFDA;
    margin-bottom: 20px;
}

.soft-lang-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.softskills-box, .languages-box {
    background: #112240;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    border-radius: 10px;
}

.softskills-box ul, .languages-box ul {
    list-style: none;
}

.softskills-box li, .languages-box li {
    margin-bottom: 8px;
}
